* {
  margin: 0;
  padding: 0;
}
header {
  list-style-type: none;
  position: sticky;
}
body {
}
/*Top logo section css*/
.top-logo-section {
  width: auto;
  height: 90px;
  background-color: #000535;
  /* overflow: hidden; */
  box-sizing: border-box;
}
.top-logo-section img {
  margin-left: 20px;
}
.search-container {
  float: right;
  position: relative;
  top: -72px;
  left: -100px;
}
.user-home {
  float: right;
  position: relative;
  top: -72px;
  right: -270px;
}
.search-container .search {
  width: 100%;
  position: relative;
  display: flex;
}
.search-container .searchTerm {
  width: 100%;
  border: 3px solid #fff;
  border-right: none;
  padding: 4px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.search-container .searchTerm:focus {
  color: #000535;
}
.user-home .userButtonNav {
  width: 40px;
  height: 50px;
  border: 1px solid #000535;
  background: transparent;
  text-align: center;
  color: #000535;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: #fff;
}
.userButtonNav:hover{
  transition: 0.5s linear;
  border: 1px solid white;
}
.search-container .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #fff;
  background: #fff;
  text-align: center;
  color: #000535;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 24px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 15px;
  z-index: 1;
}
.user-home:hover .dropdown-content {
  display: block;
}
.dropdown-content a{
  color:black;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
}
.dropdown-content a:hover{
  color: red;
  text-shadow: 1px #000535;
}

/*Navigation bar Menu Secition*/
.nav-menu-section {
  width: auto;
  height: 63px;
  background-color: white;
}
ul { 
  display: flex;
  justify-content: center;
  position: relative;
  right: -110px;
}
ul li {
  display: inline-block;
  margin: 15px;
}
ul li a {
  text-decoration: none;
  color: #000535;
  margin-top: 4px;
  padding: 20px 20px 0 0;
  transition: 0.5s ease-in;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
/*Main Section*/
.main-section .main-section-bg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main-section-container {
  width: 100%;
  height: 350px;
  background-color: #000535;
  opacity: 0.8;
  margin-top: 200px;
  position: absolute;
}
.main-section-text,
.main-section-img,
.main-section-button,
.main-section-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-section-img img {
  opacity: 1;
  width: 100%;
  height: 350px;
  position: relative;
  margin-top: 400px;
  left: -620px;
}
.main-section-text {
  font-size: 64px;
  color: white;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-top: 150px;
}
.main-section-button {
  margin-top: 292px;
  width: 400px;
}
.main-section-button button {
  width: 250px;
  height: 70px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  background-color: #dc143c;
  color: white;
  border: none;
}
.main-section-button button:hover {
  background-color: white;
  transition: 2s;
  color: #000535;
}

.main-description{
  margin-top: 50px;
  font-family: 'Roboto',sans-serif;
  margin-left: 80px;
  margin-right: 80px;
}

.main-description h1, .main-description h2{
  font-size: 48px;
}
.main-description p1,p2,p3,p4,p5{
  font-size: 32px;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 50px;
  text-align: justify;
  text-justify: inter-word;
}