/* Start of code */
*{ /* CSS applied to all as * */
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /* Set same font for all text elements*/
  }
  
  /* CSS to provide background color and padding spacing
    Display is set to flex for arranging two sections in row */
  .section-register{
    background-color: #030730;
    display: flex;
    padding: 100px 0;
  }
  
  .main-register{ 
    flex: 3; /* Sets flex size as 3 */
    background-color: #F5F5F5; /* Set background color */
    border-radius: 100px 0 0 100px; /* Give border radius on top and bottom left*/
    padding: 50px;
  }

  .main-register h1{
    text-align: center; /* Bring text content to center*/
    color: #030730;
    margin-bottom: 40px; /* Set margin at bottom only*/
    font-size: 42px;
  }
  
  .main-register label{
    padding-right: 20px; /* Set padding at right only*/
    line-height: 57px; /* Make line height more taller*/
    color: #030730;
    font-size: 24px;
  }
  
  .main-register input{
    padding: 12px 20px; 
    width: 400px; /* Set width of an element */
    margin: 8px 0;
    border: 1px solid #ccc; /* Set border */
    border-radius: 10px; /* Set border radius to 10px*/
  }

  .main-login p{
    padding-top: 200px; /* Set padding at top only*/
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
  }

  .main-login button{
    background-color: #DC143C; /* Set background color of button*/
    color: white; /* Set font color as white*/
    padding: 10px 20px; /* pading 10px for top, bottom and 20px for left and right */
    margin: auto;
    margin-top: 20px; /* Set margin at top only*/
    border: none; /* removes default button border */
    border-radius: 10px;
    cursor: pointer; /* Set cursor as pointer*/
    font-size: 28px;
    display: flex; /* to make button center */
  }

  .main-login button:hover{ 
    background-color: #75031a; /* Change color on button hover */
  }

  /* to remove default underline in hyperlink*/
  .main-login a{
    text-decoration: none; /*remove any default decoration*/
  }

  .main-login{
    flex: 1; /* flex size is set to 1 */
  }

  .main-register button{
    background-color: #DC143C;
    color: white;
    padding: 10px 0;
    border: none; /* remove default button border and set to none */
    width: 100%; /* set full width */
    border-radius: 10px;
    cursor: pointer;
    font-size: 28px; /* font size of button */
    margin-top: 20px; /* Set margin at top only*/
  }
  .main-register button:hover{
    background-color: #75031a; /* Change color on button hover */
  }
  .form-login{
    display: flex;
    justify-content: space-around; /* Give space around elements*/
  }

  /* Making Responsive Page */
@media screen and (max-width: 1000px){ 
  .main-register input{
    width: 100%;
  }
}
@media screen and (max-width: 700px){ 
  .section-register{
    flex-direction: column;
  }
  .main-register{
    border-radius: 0;
  }
  .main-login{
    padding: 20px;
  }
}
  /* End of code */